@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Constant styles  */
$mainColor: #010d77;
$secondColor: #f1f2ff;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* // Constant Styles */

ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */

.btn_style {
  background-color: #ccff7d;
  border: 1px solid #000000;
  font-size: 1.1rem;
  color: #000;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  display: block;
  width: fit-content;
  box-shadow: -6px 5px 1px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out !important;
  &:hover {
    color: $mainColor;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
}

.card_img {
  height: 100vh;
  position: relative;

  .img_parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

body.modal-open {
  padding-right: 0 !important;
}

body.modal-open .mm-slideout {
  z-index: auto;
}

.pd-100 {
  padding: 0 300px;
}

@media (max-width: 1920px) {
  .pd-100 {
    padding: 0 170px;
  }
}

@media (max-width: 1600px) {
  .pd-100 {
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  .pd-100 {
    padding: 0 90px;
  }
}

@media (max-width: 1024px) {
  .pd-100 {
    padding: 0 50px;
  }
}

@media (max-width: 600px) {
  .pd-100 {
    padding: 0 20px;
  }
}

/* ================================================================ */
.top_header {
  background-color: $mainColor;
  padding: 10px 0;
  .contact_info {
    li {
      margin-right: 50px;
      color: #fff;
      font-weight: 300;
      span {
        color: #fff;
        margin: 0 5px;
        display: inline-flex;
      }
      img {
        color: #fff;
        margin-right: 10px;
        width: 14px;
      }
    }
    a {
      font-size: 0.8rem;
      color: #fff;
    }
  }
  .lang_social {
    .lang {
      span {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
    .line {
      width: 1px;
      height: 18px;
      background-color: #fff;
      margin: 0 20px;
    }
    .social {
      li {
        margin: 0 8px;
        &:last-child {
          margin-right: 0 !important;
        }
      }
      i {
        color: #fff;
      }
    }
  }
}

.custom_link {
  background-color: #f84242;
  color: #fff;
  padding: 12px;
  border-radius: 14px;
  width: 222px;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  border: 1px solid #f84242;
  &:hover {
    background-color: #fff;
    color: #f84242;
  }
}

/* ================================================================ */
.custonm_navbar {
  padding: 18px 0;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.16);
  .logo_navbar {
    // border: 1px solid #000;
    display: flex;
    align-items: center;
    a.logo {
      margin-left: -10px;
      img {
        width: 110px;
      }
    }
    .links {
      display: flex;
      align-items: center;
      li {
        margin: 0 20px;
        display: flex;
        a {
          align-items: center;
          display: flex;
          align-items: center;
          img {
            margin-right: 10px;
          }
          i {
            margin-left: 5px;
            color: $mainColor;
          }
        }
        span {
          font-weight: 700;
          color: $mainColor;
        }
      }
    }
  }
  .search_login {
    .search {
      .form-group {
        height: 60px;
        border-radius: 14px;
        background-color: #f2f2f2;
        border: 1px solid #d5d5d5;
        position: relative;
        padding-left: 15px;
        width: 500px;
        margin-right: 25px;
        .form-control {
          height: 100%;
          border: 0;
          border-radius: 14px;
          padding-left: 15px;
          &::placeholder {
            color: #959595;
          }
        }
        img.search_icon {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          right: 30px;
        }
      }
    }
  }
  .login_sign {
    li {
      a {
        span {
          color: $mainColor;
          font-size: 300;
        }
        img {
          margin-right: 10px;
        }
      }
    }
    .line {
      span {
        width: 1px;
        height: 25px;
        background-color: #b9b9b9;
        display: inline-flex;
        margin: 0 20px;
      }
    }
  }
}
.login_navbar {
  .wrapper {
    justify-content: center !important;
  }
  .logo_navbar {
    text-align: center;
    a {
      display: inline-block;
      margin: auto;
    }
  }
}
/* ================================================================ */
.custom_header {
  .card_img {
    height: 70vh;
  }
  .header_content {
    position: relative;
    height: 100%;
    z-index: 6;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // inline-size: 100%;
    .content {
      h6 {
        font-size: 3rem;
        font-weight: 300;
        color: $mainColor;
      }
      h5 {
        font-size: 5.5rem;
        font-weight: 700;
        color: $mainColor;
      }
      p {
        font-size: 3rem;
        font-weight: 300;
        color: $mainColor;
      }
      a {
        background-color: #f84242;
        color: #fff;
        padding: 12px;
        border-radius: 14px;
        width: 222px;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        border: 1px solid #f84242;
        &:hover {
          background-color: #fff;
          color: #f84242;
        }
      }
    }
    .img {
      text-align: right;
      img {
        width: 90%;
      }
    }
  }
}

.section_header {
  h5 {
    font-size: 2.2rem;
    font-weight: 700;
    color: $mainColor;
  }
}
.custom_slick_arrow {
  ul {
    display: flex;
    align-items: center;
  }
  li {
    width: 65px;
    height: 65px;
    background-color: #d5d5d5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:first-child {
      img {
        transform: rotate(180deg);
      }
    }
    &:hover {
      background-color: #3881ef;
    }
  }
}
.category_section {
  padding: 75px 0;
  border-bottom: 5px solid $mainColor;
  border-top: 5px solid $mainColor;
  .section_header {
    margin-bottom: 55px;
  }
}
.category_card {
  text-align: center;
  .card_icon {
    background-color: $secondColor;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all 0.3s ease-in-out;
    img {
      transition: all 0.3s ease-in-out;
    }
  }
  h5 {
    color: $mainColor;
    font-weight: 700;
    margin-top: 25px;
  }
  &:hover {
    img {
      filter: brightness(0) invert(1);
    }
  }
  &.first_hover {
    &:hover {
      .card_icon {
        background-color: #afdbff;
      }
    }
  }
  &.second_hover {
    &:hover {
      .card_icon {
        background-color: #92c5f1;
      }
    }
  }
  &.third_hover {
    &:hover {
      .card_icon {
        background-color: #60a9e6;
      }
    }
  }
  &.fourth_hover {
    &:hover {
      .card_icon {
        background-color: #1a8be1;
      }
    }
  }
  &.fifth_hover {
    &:hover {
      .card_icon {
        background-color: #0069c7;
      }
    }
  }
  &.sixth_hover {
    &:hover {
      .card_icon {
        background-color: #094d9c;
      }
    }
  }
  &.seventh_hover {
    &:hover {
      .card_icon {
        background-color: #0b1788;
      }
    }
  }
}

.offer_section {
  background-color: $secondColor;
  position: relative;
  height: 450px;
  .offer_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    .card_img {
      height: 450px;
      width: 100%;
    }
  }
  .offer_contnet {
    text-align: center;
    // padding: 60px 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    // border: 1px solid #000;
  }
  h5 {
    font-size: 3rem;
    font-weight: 600;
    color: $mainColor;
  }
  p {
    font-size: 1.4rem;
    font-weight: 300;
    color: $mainColor;
    margin: 24px 0;
  }
  a {
    // margin-top: 18px;
  }
}

.oppsite_offer_section {
  .offer_img {
    left: unset;
    right: 0;
  }
}
/* ================================================================ */

.products_section {
  padding: 80px 0;
  .section_header {
    margin-bottom: 55px;
  }
  .slick-slider {
    margin: 0 -10px;
  }
}
// .products_section_slider{
//   background-color: #E2E2E2;
//   padding: 1px;
//   border-radius: 20px;
//   width: fit-content;
//   &:hover{
//     padding: 4px;
//     background-color: #3881EF;
//     transition: all .1s ease-in-out;
//   }
// }
.product_card {
  border: 2px solid #e2e2e2;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0;
  // width: fit-content;
  padding-top: 45px;
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
  min-height: 330px;
  max-height: 330px;
  margin: 0 10px;
  .heart {
    position: absolute;
    top: 15px;
    right: 15px;
    i {
      color: #c8c8c8;
    }
  }
  .card_icon {
    // border: 1px solid #000;
    height: 110px;
    // width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 85%;
      margin: auto;
      // position: relative;
    }
  }
  h5 {
    color: $mainColor;
    font-weight: 600;
    font-size: 1.1rem;
    @extend %spcfies-number-of-line;
    -webkit-line-clamp: 2 !important;
    margin: 0;
    margin-top: 15px;
    .disc {
      color: #929292;
      font-size: 0.7rem;
      font-weight: 600;
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #929292;
        content: "";
        transform: rotate(10deg);
      }
    }
  }
  h6 {
    margin-top: 2px;
    color: #ff0000;
    font-size: 0.8rem;
  }
  .pr_footer {
    // width: fit-content;
    margin-top: 45px;
    border-top: 1px solid #e2e2e2;
    padding: 15px 0;
    h5 {
      margin: 0 !important;
    }
  }
  &:hover {
    border-color: #3881ef;
    // border-width: 3px;
  }
}

/* ================================================================ */
.our_brnads {
  margin-top: 80px;
  .section_header {
    margin-bottom: 80px;
  }
  li {
    width: calc(100% / 8);
    // border: 1px solid #000;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 90%;
    }
  }
}
/* ================================================================ */
.buynow_paylater {
  padding: 86px 0;
  background-color: $secondColor;
  margin-top: 100px;
  .content {
    text-align: center;
    h5 {
      font-size: 3rem;
      font-weight: 600;
      color: $mainColor;
    }
    p {
      font-size: 1.4rem;
      color: $mainColor;
      font-weight: 300;
      margin: 24px 0;
    }
  }
  .bank_card {
    background-color: #fff;
    border-radius: 15px;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
    img {
      width: 50%;
    }
  }
}

/* ================================================================ */
.custom_footer {
  padding: 78px 0;
  border-top: 10px solid $mainColor;
  .footer_logo {
    img {
      margin-bottom: 20px;
    }
  }
  .footer_links {
    h5 {
      font-size: 1.3rem;
      color: $mainColor;
      font-weight: 600;
      text-transform: capitalize;
    }
    li {
      margin-bottom: -1px;
    }
    a {
      color: $mainColor;
      font-weight: 400;
    }
  }
  .subscripe {
    h5 {
      font-size: 1.3rem;
      color: $mainColor;
      font-weight: 600;
      text-transform: capitalize;
    }
    p {
      font-size: 0.9rem;
      font-weight: 700;
      color: $mainColor;
    }
    .input-group {
      background-color: #f2f2f2;
      height: 50px;
      border-radius: 14px;

      border: 1px solid #d5d5d5;
      .form-control {
        border: 0;
        padding-left: 15px;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        &::placeholder {
          font-size: 0.9rem;
        }
      }
      .input-group-text {
        border-top-left-radius: 14px !important;
        border-bottom-left-radius: 14px !important;
        background-color: #f84242;
        color: #fff;
        font-size: 0.8rem;
        border: 0;
        width: 100px;
        text-align: center !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .social_phone {
    ul {
      li {
        margin: 0 10px;
        a {
          i {
            color: $mainColor;
            font-size: 1.1rem;
          }
        }
      }
    }
    .phone {
      font-weight: 600;
      font-size: 1.2rem;
      a {
        color: $mainColor;
      }
    }
  }
}

.copy_right {
  padding-bottom: 15px;
  h5,
  a {
    font-size: 0.9rem;
    font-weight: 700;
    color: $mainColor;
    margin: 0;
  }
  .line {
    width: 2px;
    height: 15px;
    background-color: $mainColor;
    margin: 0 10px;
    display: inline-flex;
  }
}
/* ================================================================ */
.form_strip_page {
  padding-top: 80px;
  padding-bottom: 90px;
  h5 {
    font-size: 2.2rem;
    font-weight: bold;
    color: $mainColor;
    text-align: center;
    margin-bottom: 35px;
  }
  p {
    color: $mainColor;
    text-align: center;
    // margin-bottom: 45px;
  }
}
.form_style {
  // width: 500px;
  // max-width: 100%;
  margin: auto;
  .form-group {
    margin-top: 25px;
  }
  label {
    margin-bottom: 13px;
    text-transform: capitalize;
    font-size: 0.9rem;
    color: $mainColor;
  }
  .form-control {
    height: 50px;
    background-color: #f1f2ff;
    border-radius: 14px;
    padding-left: 25px;
    border: 1px solid #d5d5d5;
    &::placeholder {
      color: $mainColor;
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
  .forget_pass {
    text-align: right;
    margin-top: 18px;
    a {
      font-size: 0.9rem;
      color: $mainColor;
      text-decoration: underline;
    }
  }
  .btn_submit {
    margin-top: 37px;
  }
  .dont_account {
    margin-top: 25px;
    text-align: center;
    h6 {
      font-size: 1.2rem;
      color: $mainColor;
      font-weight: 400;
      a {
        font-weight: bold;
        color: $mainColor;
      }
    }
  }
}

/* ================================================================ */
.custom_breadcrumb {
  padding: 40px 0;
  h5 {
    font-size: 1rem;
    color: $mainColor;
    font-weight: 400;
    span {
      font-weight: bold;
    }
  }
}

/* ================================================================ */
.product_tools {
  .category_slider_listing {
    .category_card {
      .card_icon {
        width: 60px;
        height: 60px;
        img {
          width: 50%;
        }
      }
    }
  }
  .head {
    font-size: 2rem;
    font-weight: bold;
    color: $mainColor;
  }
}
.product_list_and_filter {
  padding-bottom: 100px;
  margin-top: 45px;
  .left_side {
    width: 20%;
  }
  .right_side {
    width: 80%;
    padding-left: 20px;
    .product_card {
      margin: 0 0;
      margin-bottom: 23px;
    }
    .sort_by {
      & > span {
        color: $mainColor;
        font-size: 1rem;
        font-weight: bold;
      }
      .nice-select {
        float: none;
        width: 203px;
        height: 35px;
        background-color: #f1f2ff;
        line-height: 35px;
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        margin-left: 25px;
      }
    }
  }
}
.product_list_filter {
  background-color: #f1f2ff;
  padding: 21px 17px;
  h5 {
    font-weight: 400;
    color: $mainColor;
    font-size: 1.1rem;
  }
  hr {
    color: $mainColor;
    margin-bottom: 0;
  }
  .accordion {
    padding-top: 15px;
    border-bottom: 1px solid #c7c9e5;
    padding-bottom: 15px;
    .accordion-item {
      background-color: transparent;
      border: 0;
    }
    .accordion-button {
      background-color: transparent;
      padding: 0;
      font-weight: bold;
      color: $mainColor;
      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }
    }
    .accordion-button:not(.collapsed) {
      border: 0;
      box-shadow: none !important;
    }
    .accordion-body {
      text-align: left;
      padding: 0;
      padding-top: 12px;
      padding-left: 10px;
      .select_category_card_wrapper {
        margin-top: 5px;
        h6 {
          font-size: 0.9rem;
          font-weight: bold;
          color: $mainColor;
        }
        .select_category_card {
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;
          input {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
          }
          .select_box {
            width: 12px;
            height: 12px;
            border: 1px solid #929292;
            border-radius: 2px;
            position: relative;
            .inner_sele {
              position: absolute;
              width: 80%;
              height: 80%;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              margin-left: 0;
              border-radius: 2px;
            }
          }
          span {
            color: $mainColor;
            margin-left: 10px;
            display: inline-flex;
            font-size: 0.9rem;
          }
        }
        input[type="checkbox"]:checked ~ .select_box {
          .inner_sele {
            background-color: $mainColor;
          }
        }
      }
    }
  }
  .accordion_price {
    input[type="range"] {
      /* removing default appearance */
      -webkit-appearance: none;
      appearance: none;
      /* creating a custom design */
      width: 100%;
      cursor: pointer;
      outline: none;
      /*  slider progress trick  */
      overflow: hidden;
      height: 24px;
      position: relative;
      background-color: transparent;
      // border-radius: 16px;
      // border: 1px solid #000;
      &::after {
        // width: 90%;
        // height: 4px;
        // background-color: $mainColor;
        // z-index: 3;
        // content: "";
        // position: absolute;
        // top: 50%;
        // transform: translate(0, -50%);
        // border-radius: 20px !important;
      }
    }

    /* Track: webkit browsers */
    input[type="range"]::-webkit-slider-runnable-track {
      height: 4px;
      background: $mainColor;
      border-radius: 50px !important;
      position: relative;
    }

    /* Track: Mozilla Firefox */
    input[type="range"]::-moz-range-track {
      height: 4px;
      background: $mainColor;
      border-radius: 50px !important;
      z-index: 4;
    }

    /* Thumb: webkit */
    input[type="range"]::-webkit-slider-thumb {
      /* removing default appearance */
      -webkit-appearance: none;
      appearance: none;
      /* creating a custom design */
      height: 24px;
      width: 24px;
      background-color: #f84242;
      border-radius: 50%;
      z-index: 999;
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
      // border: 2px solid #f50;
      /*  slider progress trick  */
      // box-shadow: -407px 0 0 400px #f50;
    }

    /* Thumb: Firefox */
    input[type="range"]::-moz-range-thumb {
      height: 15px;
      width: 15px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #f50;
      /*  slider progress trick  */
      box-shadow: -407px 0 0 400px #f50;
    }
  }
}
/* ================================================================ */
.product_details_page {
  .product_details_info {
    h5 {
      color: $mainColor;
      font-size: 2rem;
      font-weight: bold;
    }
    hr {
      margin: 25px 0;
      color: #e2e2e2;
    }
    ul {
      li {
        margin-bottom: 20px;
        span {
          color: $mainColor;
        }
        span:first-child {
          margin-right: 10px;
        }
        span:last-child {
          font-weight: bold;
        }
      }
    }
    .you_can_buy{
      margin-top: 40px;
      h4{
        font-size: 1rem;
        font-weight: 400;
        color: $mainColor;
      }
      .bank_card{
        border: 1px solid #E2E2E2;
        border-radius: 15px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 39px;
        width: 69px;
        position: relative;
        img{
          width: 50px;
          position: relative;
          display: inline-block;
        }
      }
    }
    .quantity{
      margin-top: 40px;
      span{
        font-weight: 400;
        color: $mainColor;
        font-size: 1rem;
      }
      .form-control{
        width: 95px;
        height: 50px;
        border: 1px solid #E2E2E2;
        border-radius: 10px;
        margin: 0 18px;
        text-align: center;
      }
      .custom_link{
        width: 100%;
        font-weight: bold;
      }
    }
  }
}
/* ================================================================ */

/* ================================================================ */

/* ================================================================ */

/* ================================================================ */

/* ================================================================ */

/* ================================================================ */

/* Shared styles  */
%backgroundImage {
  background-position: center;
  background-size: cover;
}

%inilizeFonrtAwsome_Before_After {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%imglikebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%imgParent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%btnColor {
  padding: 10px 40px;
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 5px;
  color: #fff;
  font-family: jannab;
}
