@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Constant styles  */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  transition: all 0.4s ease-in;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* // Constant Styles */
ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);
}
.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.2);
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */
.btn_style {
  background-color: #ccff7d;
  border: 1px solid #000000;
  font-size: 1.1rem;
  color: #000;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: -6px 5px 1px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out !important;
}
.btn_style:hover {
  color: #010d77;
  background-color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

.card_img {
  height: 100vh;
  position: relative;
}
.card_img .img_parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card_img .img_parent img,
.card_img .img_parent video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

body.modal-open {
  padding-right: 0 !important;
}

body.modal-open .mm-slideout {
  z-index: auto;
}

.pd-100 {
  padding: 0 300px;
}

@media (max-width: 1920px) {
  .pd-100 {
    padding: 0 170px;
  }
}
@media (max-width: 1600px) {
  .pd-100 {
    padding: 0 100px;
  }
}
@media (max-width: 1440px) {
  .pd-100 {
    padding: 0 90px;
  }
}
@media (max-width: 1024px) {
  .pd-100 {
    padding: 0 50px;
  }
}
@media (max-width: 600px) {
  .pd-100 {
    padding: 0 20px;
  }
}
/* ================================================================ */
.top_header {
  background-color: #010d77;
  padding: 10px 0;
}
.top_header .contact_info li {
  margin-right: 50px;
  color: #fff;
  font-weight: 300;
}
.top_header .contact_info li span {
  color: #fff;
  margin: 0 5px;
  display: inline-flex;
}
.top_header .contact_info li img {
  color: #fff;
  margin-right: 10px;
  width: 14px;
}
.top_header .contact_info a {
  font-size: 0.8rem;
  color: #fff;
}
.top_header .lang_social .lang span {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
}
.top_header .lang_social .line {
  width: 1px;
  height: 18px;
  background-color: #fff;
  margin: 0 20px;
}
.top_header .lang_social .social li {
  margin: 0 8px;
}
.top_header .lang_social .social li:last-child {
  margin-right: 0 !important;
}
.top_header .lang_social .social i {
  color: #fff;
}

.custom_link {
  background-color: #f84242;
  color: #fff;
  padding: 12px;
  border-radius: 14px;
  width: 222px;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  border: 1px solid #f84242;
}
.custom_link:hover {
  background-color: #fff;
  color: #f84242;
}

/* ================================================================ */
.custonm_navbar {
  padding: 18px 0;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.16);
}
.custonm_navbar .logo_navbar {
  display: flex;
  align-items: center;
}
.custonm_navbar .logo_navbar a.logo {
  margin-left: -10px;
}
.custonm_navbar .logo_navbar a.logo img {
  width: 110px;
}
.custonm_navbar .logo_navbar .links {
  display: flex;
  align-items: center;
}
.custonm_navbar .logo_navbar .links li {
  margin: 0 20px;
  display: flex;
}
.custonm_navbar .logo_navbar .links li a {
  align-items: center;
  display: flex;
  align-items: center;
}
.custonm_navbar .logo_navbar .links li a img {
  margin-right: 10px;
}
.custonm_navbar .logo_navbar .links li a i {
  margin-left: 5px;
  color: #010d77;
}
.custonm_navbar .logo_navbar .links li span {
  font-weight: 700;
  color: #010d77;
}
.custonm_navbar .search_login .search .form-group {
  height: 60px;
  border-radius: 14px;
  background-color: #f2f2f2;
  border: 1px solid #d5d5d5;
  position: relative;
  padding-left: 15px;
  width: 500px;
  margin-right: 25px;
}
.custonm_navbar .search_login .search .form-group .form-control {
  height: 100%;
  border: 0;
  border-radius: 14px;
  padding-left: 15px;
}
.custonm_navbar .search_login .search .form-group .form-control::-moz-placeholder {
  color: #959595;
}
.custonm_navbar .search_login .search .form-group .form-control::placeholder {
  color: #959595;
}
.custonm_navbar .search_login .search .form-group img.search_icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 30px;
}
.custonm_navbar .login_sign li a span {
  color: #010d77;
  font-size: 300;
}
.custonm_navbar .login_sign li a img {
  margin-right: 10px;
}
.custonm_navbar .login_sign .line span {
  width: 1px;
  height: 25px;
  background-color: #b9b9b9;
  display: inline-flex;
  margin: 0 20px;
}

.login_navbar .wrapper {
  justify-content: center !important;
}
.login_navbar .logo_navbar {
  text-align: center;
}
.login_navbar .logo_navbar a {
  display: inline-block;
  margin: auto;
}

/* ================================================================ */
.custom_header .card_img {
  height: 70vh;
}
.custom_header .header_content {
  position: relative;
  height: 100%;
  z-index: 6;
}
.custom_header .header_content .content h6 {
  font-size: 3rem;
  font-weight: 300;
  color: #010d77;
}
.custom_header .header_content .content h5 {
  font-size: 5.5rem;
  font-weight: 700;
  color: #010d77;
}
.custom_header .header_content .content p {
  font-size: 3rem;
  font-weight: 300;
  color: #010d77;
}
.custom_header .header_content .content a {
  background-color: #f84242;
  color: #fff;
  padding: 12px;
  border-radius: 14px;
  width: 222px;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  border: 1px solid #f84242;
}
.custom_header .header_content .content a:hover {
  background-color: #fff;
  color: #f84242;
}
.custom_header .header_content .img {
  text-align: right;
}
.custom_header .header_content .img img {
  width: 90%;
}

.section_header h5 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #010d77;
}

.custom_slick_arrow ul {
  display: flex;
  align-items: center;
}
.custom_slick_arrow li {
  width: 65px;
  height: 65px;
  background-color: #d5d5d5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.custom_slick_arrow li:first-child img {
  transform: rotate(180deg);
}
.custom_slick_arrow li:hover {
  background-color: #3881ef;
}

.category_section {
  padding: 75px 0;
  border-bottom: 5px solid #010d77;
  border-top: 5px solid #010d77;
}
.category_section .section_header {
  margin-bottom: 55px;
}

.category_card {
  text-align: center;
}
.category_card .card_icon {
  background-color: #f1f2ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.category_card .card_icon img {
  transition: all 0.3s ease-in-out;
}
.category_card h5 {
  color: #010d77;
  font-weight: 700;
  margin-top: 25px;
}
.category_card:hover img {
  filter: brightness(0) invert(1);
}
.category_card.first_hover:hover .card_icon {
  background-color: #afdbff;
}
.category_card.second_hover:hover .card_icon {
  background-color: #92c5f1;
}
.category_card.third_hover:hover .card_icon {
  background-color: #60a9e6;
}
.category_card.fourth_hover:hover .card_icon {
  background-color: #1a8be1;
}
.category_card.fifth_hover:hover .card_icon {
  background-color: #0069c7;
}
.category_card.sixth_hover:hover .card_icon {
  background-color: #094d9c;
}
.category_card.seventh_hover:hover .card_icon {
  background-color: #0b1788;
}

.offer_section {
  background-color: #f1f2ff;
  position: relative;
  height: 450px;
}
.offer_section .offer_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
}
.offer_section .offer_img .card_img {
  height: 450px;
  width: 100%;
}
.offer_section .offer_contnet {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.offer_section h5 {
  font-size: 3rem;
  font-weight: 600;
  color: #010d77;
}
.offer_section p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #010d77;
  margin: 24px 0;
}
.oppsite_offer_section .offer_img {
  left: unset;
  right: 0;
}

/* ================================================================ */
.products_section {
  padding: 80px 0;
}
.products_section .section_header {
  margin-bottom: 55px;
}
.products_section .slick-slider {
  margin: 0 -10px;
}

.product_card {
  border: 2px solid #e2e2e2;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0;
  padding-top: 45px;
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
  min-height: 330px;
  max-height: 330px;
  margin: 0 10px;
}
.product_card .heart {
  position: absolute;
  top: 15px;
  right: 15px;
}
.product_card .heart i {
  color: #c8c8c8;
}
.product_card .card_icon {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_card .card_icon img {
  width: 85%;
  margin: auto;
}
.product_card h5 {
  color: #010d77;
  font-weight: 600;
  font-size: 1.1rem;
  -webkit-line-clamp: 2 !important;
  margin: 0;
  margin-top: 15px;
}
.product_card h5 .disc {
  color: #929292;
  font-size: 0.7rem;
  font-weight: 600;
  position: relative;
}
.product_card h5 .disc::after {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #929292;
  content: "";
  transform: rotate(10deg);
}
.product_card h6 {
  margin-top: 2px;
  color: #ff0000;
  font-size: 0.8rem;
}
.product_card .pr_footer {
  margin-top: 45px;
  border-top: 1px solid #e2e2e2;
  padding: 15px 0;
}
.product_card .pr_footer h5 {
  margin: 0 !important;
}
.product_card:hover {
  border-color: #3881ef;
}

/* ================================================================ */
.our_brnads {
  margin-top: 80px;
}
.our_brnads .section_header {
  margin-bottom: 80px;
}
.our_brnads li {
  width: 12.5%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_brnads li img {
  width: 90%;
}

/* ================================================================ */
.buynow_paylater {
  padding: 86px 0;
  background-color: #f1f2ff;
  margin-top: 100px;
}
.buynow_paylater .content {
  text-align: center;
}
.buynow_paylater .content h5 {
  font-size: 3rem;
  font-weight: 600;
  color: #010d77;
}
.buynow_paylater .content p {
  font-size: 1.4rem;
  color: #010d77;
  font-weight: 300;
  margin: 24px 0;
}
.buynow_paylater .bank_card {
  background-color: #fff;
  border-radius: 15px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}
.buynow_paylater .bank_card img {
  width: 50%;
}

/* ================================================================ */
.custom_footer {
  padding: 78px 0;
  border-top: 10px solid #010d77;
}
.custom_footer .footer_logo img {
  margin-bottom: 20px;
}
.custom_footer .footer_links h5 {
  font-size: 1.3rem;
  color: #010d77;
  font-weight: 600;
  text-transform: capitalize;
}
.custom_footer .footer_links li {
  margin-bottom: -1px;
}
.custom_footer .footer_links a {
  color: #010d77;
  font-weight: 400;
}
.custom_footer .subscripe h5 {
  font-size: 1.3rem;
  color: #010d77;
  font-weight: 600;
  text-transform: capitalize;
}
.custom_footer .subscripe p {
  font-size: 0.9rem;
  font-weight: 700;
  color: #010d77;
}
.custom_footer .subscripe .input-group {
  background-color: #f2f2f2;
  height: 50px;
  border-radius: 14px;
  border: 1px solid #d5d5d5;
}
.custom_footer .subscripe .input-group .form-control {
  border: 0;
  padding-left: 15px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.custom_footer .subscripe .input-group .form-control::-moz-placeholder {
  font-size: 0.9rem;
}
.custom_footer .subscripe .input-group .form-control::placeholder {
  font-size: 0.9rem;
}
.custom_footer .subscripe .input-group .input-group-text {
  border-top-left-radius: 14px !important;
  border-bottom-left-radius: 14px !important;
  background-color: #f84242;
  color: #fff;
  font-size: 0.8rem;
  border: 0;
  width: 100px;
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom_footer .social_phone ul li {
  margin: 0 10px;
}
.custom_footer .social_phone ul li a i {
  color: #010d77;
  font-size: 1.1rem;
}
.custom_footer .social_phone .phone {
  font-weight: 600;
  font-size: 1.2rem;
}
.custom_footer .social_phone .phone a {
  color: #010d77;
}

.copy_right {
  padding-bottom: 15px;
}
.copy_right h5,
.copy_right a {
  font-size: 0.9rem;
  font-weight: 700;
  color: #010d77;
  margin: 0;
}
.copy_right .line {
  width: 2px;
  height: 15px;
  background-color: #010d77;
  margin: 0 10px;
  display: inline-flex;
}

/* ================================================================ */
.form_strip_page {
  padding-top: 80px;
  padding-bottom: 90px;
}
.form_strip_page h5 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #010d77;
  text-align: center;
  margin-bottom: 35px;
}
.form_strip_page p {
  color: #010d77;
  text-align: center;
}

.form_style {
  margin: auto;
}
.form_style .form-group {
  margin-top: 25px;
}
.form_style label {
  margin-bottom: 13px;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: #010d77;
}
.form_style .form-control {
  height: 50px;
  background-color: #f1f2ff;
  border-radius: 14px;
  padding-left: 25px;
  border: 1px solid #d5d5d5;
}
.form_style .form-control::-moz-placeholder {
  color: #010d77;
  font-weight: 300;
  font-size: 0.9rem;
}
.form_style .form-control::placeholder {
  color: #010d77;
  font-weight: 300;
  font-size: 0.9rem;
}
.form_style .forget_pass {
  text-align: right;
  margin-top: 18px;
}
.form_style .forget_pass a {
  font-size: 0.9rem;
  color: #010d77;
  text-decoration: underline;
}
.form_style .btn_submit {
  margin-top: 37px;
}
.form_style .dont_account {
  margin-top: 25px;
  text-align: center;
}
.form_style .dont_account h6 {
  font-size: 1.2rem;
  color: #010d77;
  font-weight: 400;
}
.form_style .dont_account h6 a {
  font-weight: bold;
  color: #010d77;
}

/* ================================================================ */
.custom_breadcrumb {
  padding: 40px 0;
}
.custom_breadcrumb h5 {
  font-size: 1rem;
  color: #010d77;
  font-weight: 400;
}
.custom_breadcrumb h5 span {
  font-weight: bold;
}

/* ================================================================ */
.product_tools .category_slider_listing .category_card .card_icon {
  width: 60px;
  height: 60px;
}
.product_tools .category_slider_listing .category_card .card_icon img {
  width: 50%;
}
.product_tools .head {
  font-size: 2rem;
  font-weight: bold;
  color: #010d77;
}

.product_list_and_filter {
  padding-bottom: 100px;
  margin-top: 45px;
}
.product_list_and_filter .left_side {
  width: 20%;
}
.product_list_and_filter .right_side {
  width: 80%;
  padding-left: 20px;
}
.product_list_and_filter .right_side .product_card {
  margin: 0 0;
  margin-bottom: 23px;
}
.product_list_and_filter .right_side .sort_by > span {
  color: #010d77;
  font-size: 1rem;
  font-weight: bold;
}
.product_list_and_filter .right_side .sort_by .nice-select {
  float: none;
  width: 203px;
  height: 35px;
  background-color: #f1f2ff;
  line-height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  margin-left: 25px;
}

.product_list_filter {
  background-color: #f1f2ff;
  padding: 21px 17px;
}
.product_list_filter h5 {
  font-weight: 400;
  color: #010d77;
  font-size: 1.1rem;
}
.product_list_filter hr {
  color: #010d77;
  margin-bottom: 0;
}
.product_list_filter .accordion {
  padding-top: 15px;
  border-bottom: 1px solid #c7c9e5;
  padding-bottom: 15px;
}
.product_list_filter .accordion .accordion-item {
  background-color: transparent;
  border: 0;
}
.product_list_filter .accordion .accordion-button {
  background-color: transparent;
  padding: 0;
  font-weight: bold;
  color: #010d77;
}
.product_list_filter .accordion .accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.product_list_filter .accordion .accordion-button:not(.collapsed) {
  border: 0;
  box-shadow: none !important;
}
.product_list_filter .accordion .accordion-body {
  text-align: left;
  padding: 0;
  padding-top: 12px;
  padding-left: 10px;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper {
  margin-top: 5px;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper h6 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #010d77;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper .select_category_card {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper .select_category_card input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper .select_category_card .select_box {
  width: 12px;
  height: 12px;
  border: 1px solid #929292;
  border-radius: 2px;
  position: relative;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper .select_category_card .select_box .inner_sele {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  border-radius: 2px;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper .select_category_card span {
  color: #010d77;
  margin-left: 10px;
  display: inline-flex;
  font-size: 0.9rem;
}
.product_list_filter .accordion .accordion-body .select_category_card_wrapper input[type=checkbox]:checked ~ .select_box .inner_sele {
  background-color: #010d77;
}
.product_list_filter .accordion_price {
  /* Track: webkit browsers */
  /* Track: Mozilla Firefox */
  /* Thumb: webkit */
  /* Thumb: Firefox */
}
.product_list_filter .accordion_price input[type=range] {
  /* removing default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  height: 24px;
  position: relative;
  background-color: transparent;
}
.product_list_filter .accordion_price input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background: #010d77;
  border-radius: 50px !important;
  position: relative;
}
.product_list_filter .accordion_price input[type=range]::-moz-range-track {
  height: 4px;
  background: #010d77;
  border-radius: 50px !important;
  z-index: 4;
}
.product_list_filter .accordion_price input[type=range]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 24px;
  width: 24px;
  background-color: #f84242;
  border-radius: 50%;
  z-index: 999;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
  /*  slider progress trick  */
}
.product_list_filter .accordion_price input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}

/* ================================================================ */
.product_details_page {
  padding: 70px 0;
}
.product_details_page .product_details_pictures .big_slider .silder-item {
  width: 100%;
  text-align: center;
}
.product_details_page .product_details_pictures .big_slider .card_img {
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_details_page .product_details_pictures .big_slider .card_img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  margin: auto;
}
.product_details_page .product_details_pictures .small_slider {
  margin-top: 15px;
}
.product_details_page .product_details_pictures .small_slider .silder-item .card_img {
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.product_details_page .product_details_pictures .small_slider .silder-item .card_img .img_parent {
  border: 1px solid transparent;
  border-radius: 15px;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product_details_page .product_details_pictures .small_slider .silder-item .card_img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 87%;
  margin: auto;
}
.product_details_page .product_details_pictures .small_slider .slick-current .silder-item .card_img .img_parent {
  border-color: #3881ef !important;
}
.product_details_page .product_details_info h5 {
  color: #010d77;
  font-size: 2rem;
  font-weight: bold;
}
.product_details_page .product_details_info hr {
  margin: 25px 0;
  color: #e2e2e2;
}
.product_details_page .product_details_info ul li {
  margin-bottom: 20px;
}
.product_details_page .product_details_info ul li span {
  color: #010d77;
}
.product_details_page .product_details_info ul li span:first-child {
  margin-right: 10px;
}
.product_details_page .product_details_info ul li span:last-child {
  font-weight: bold;
}
.product_details_page .product_details_info .you_can_buy {
  margin-top: 40px;
}
.product_details_page .product_details_info .you_can_buy h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #010d77;
}
.product_details_page .product_details_info .you_can_buy .bank_card {
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 69px;
  position: relative;
}
.product_details_page .product_details_info .you_can_buy .bank_card img {
  width: 50px;
  position: relative;
  display: inline-block;
}
.product_details_page .product_details_info .quantity {
  margin-top: 40px;
}
.product_details_page .product_details_info .quantity span {
  font-weight: 400;
  color: #010d77;
  font-size: 1rem;
}
.product_details_page .product_details_info .quantity .form-control {
  width: 95px;
  height: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin: 0 18px;
  text-align: center;
}
.product_details_page .product_details_info .quantity .custom_link {
  width: 100%;
  font-weight: bold;
}

.product_overview {
  margin-top: 75px;
}
.product_overview .product_overview_wrapper {
  background-color: #f1f2ff;
  padding: 52px 30px;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}
.product_overview .product_overview_wrapper h5 {
  color: #010d77;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.product_overview .product_overview_wrapper li {
  width: 45%;
}
.product_overview .product_overview_wrapper li p {
  color: #010d77;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 25px;
}

/* ================================================================ */
.cart_page {
  padding-bottom: 250px;
}
.cart_page .section_header {
  margin-bottom: 54px;
}
.cart_page .title_strip {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.cart_page .title_strip h5 {
  font-size: 1.1rem;
  color: #010d77;
  font-weight: 400;
  padding-left: 25px;
}
.cart_page .cart_option {
  margin-top: 30px;
}
.cart_page .cart_option button {
  width: 100%;
  background-color: transparent;
  border: 0;
}
.cart_page .cart_option .btn_save {
  background-color: #f84242;
  border: 1px solid #f84242;
  padding: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 14px;
}
.cart_page .cart_option .btn_save:hover {
  background-color: #fff;
  color: #f84242;
}
.cart_page .cart_option .btn_empty {
  padding: 12px;
  color: #010d77;
  font-weight: bold;
  border-radius: 14px;
  border: 1px solid #959595;
}
.cart_page .cart_option .btn_empty:hover {
  background-color: #959595;
  color: #fff;
}

.cart_item {
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  padding: 34px 20px;
  margin-bottom: 16px;
}
.cart_item .cart_icon {
  display: flex;
  align-items: center;
}
.cart_item .cart_icon img {
  width: 95px;
  margin-right: 15px;
}
.cart_item .card_body h5 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #010d77;
}
.cart_item .card_body .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_item .card_body .option a {
  color: #010d77;
  font-weight: 300;
  font-size: 0.9rem;
}
.cart_item .cart_price,
.cart_item .cart_total {
  text-align: center;
}
.cart_item .cart_price h4,
.cart_item .cart_total h4 {
  margin: 0;
  color: #010d77;
  font-size: 1.1rem;
  font-weight: 400;
}
.cart_item .increase_decrease {
  border: 1px solid #e2e2e2;
  text-align: center;
  width: 120px;
}
.cart_item .increase_decrease button {
  width: 35px;
  height: 38px;
  padding: 0;
  border: 0;
  margin: auto;
  background-color: transparent;
}
.cart_item .increase_decrease button i {
  color: #010d77;
  font-size: 0.8rem;
}
.cart_item .increase_decrease button:hover {
  background-color: #010d77;
}
.cart_item .increase_decrease button:hover i {
  color: #fff;
}
.cart_item .increase_decrease input {
  width: 50px;
  height: 38px;
  border: 0;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.summery_box {
  padding: 27px 50px;
  background-color: #f1f2ff;
  border-radius: 20px;
}
.summery_box h5 {
  font-size: 2rem;
  color: #010d77;
  font-weight: 400;
}
.summery_box hr {
  color: #e2e2e2;
  margin: 25px 0;
}
.summery_box ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.summery_box ul li span {
  color: #010d77;
  font-weight: 400;
}
.summery_box ul li:last-child span {
  font-weight: bold;
}
.summery_box .place_order {
  background-color: #f84242;
  border: 1px solid #f84242;
  padding: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 14px;
  width: 100%;
  margin-top: 40px;
}
.summery_box .place_order:hover {
  background-color: #fff;
  color: #f84242;
}

/* ================================================================ */
.checkout_page_1 {
  padding-bottom: 200px;
}
.checkout_page_1 .checkout_page_links {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.checkout_page_1 .checkout_page_links a {
  color: #010d77;
  font-weight: 400;
  margin-right: 60px;
}
.checkout_page_1 .checkout_page_links a.active {
  font-weight: bold;
}
.checkout_page_1 .shipping_adress h5 {
  font-size: 1.1rem;
  color: #010d77;
  font-weight: bold;
  margin-bottom: 25px;
}
.checkout_page_1 .shipping_adress .form-group {
  position: relative;
}
.checkout_page_1 .shipping_adress .form-group label {
  width: 100% !important;
  display: block;
  cursor: pointer;
}
.checkout_page_1 .shipping_adress .form-group label input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.checkout_page_1 .shipping_adress input[type=radio]:checked ~ .shipping_adress_card .bolled span {
  background-color: #010d77;
}
.checkout_page_1 .add_new_adress {
  margin-top: 50px;
}
.checkout_page_1 .add_new_adress a {
  font-weight: bold;
  color: #010d77;
  font-size: 1.1rem;
}
.checkout_page_1 .add_new_adress .next_link {
  background-color: #f84242;
  border: 1px solid #f84242;
  padding: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 14px;
  width: 100%;
  display: block;
  text-align: center;
}
.checkout_page_1 .add_new_adress .next_link:hover {
  background-color: #fff;
  color: #f84242;
}
.checkout_page_1 .promo_code h4 {
  font-size: 0.9rem;
  color: #4E4E4E;
  font-weight: bold;
  margin-bottom: 14px;
}
.checkout_page_1 .promo_code .promo_form {
  display: flex;
  align-items: center;
}
.checkout_page_1 .promo_code input {
  border: 0;
  border-radius: 10px;
  background-color: #F1F2FF;
  height: 50px;
  padding-left: 10px;
  width: 238px;
  max-width: 100%;
  margin-right: 15px;
}
.checkout_page_1 .promo_code input::-moz-placeholder {
  font-size: 0.8rem;
}
.checkout_page_1 .promo_code input::placeholder {
  font-size: 0.8rem;
}
.checkout_page_1 .promo_code button {
  height: 50px;
  border: 1px solid #959595;
  padding: 12px 30px;
  color: #fff;
  font-weight: bold;
  border-radius: 14px;
  display: block;
  text-align: center;
  background-color: transparent;
  color: #010d77;
  font-weight: bold;
}
.checkout_page_1 .promo_code button:hover {
  background-color: #959595;
  color: #fff;
}

.shipping_adress_card {
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  padding: 34px 20px;
  margin-bottom: 16px;
}
.shipping_adress_card .bolled {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #707070;
  position: relative;
  margin-right: 25px;
}
.shipping_adress_card .bolled span {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 53%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.shipping_adress_card h5 {
  margin-bottom: 15px !important;
}
.shipping_adress_card p {
  margin: 0;
  font-size: 1.1rem;
  color: #010d77;
  font-family: 400;
}

.checkout_page_2 .shipping_adress_card {
  padding: 24px 20px;
}
.checkout_page_2 .shipping_adress_card h5 {
  margin-bottom: 0 !important;
}

.checkout_page_3 .shipping_adress_card {
  padding: 24px 40px;
}
.checkout_page_3 .headr {
  font-size: 1.1rem;
  font-weight: 400;
  color: #010d77;
  margin-bottom: 25px;
  margin-top: 45px;
}
.checkout_page_3 .title_strip {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
  padding-bottom: 0px;
}
.checkout_page_3 .title_strip h5 {
  font-size: 1.1rem;
  color: #010d77;
  font-weight: 400;
  padding-left: 25px;
}
.checkout_page_3 .title_strip .first {
  padding-left: 0px;
}

/* ================================================================ */
.checkout_done {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 50px;
}
.checkout_done img {
  margin-bottom: 50px;
}
.checkout_done h5 {
  font-weight: bold;
  font-size: 2.2rem;
  color: #010d77;
}
.checkout_done p {
  font-size: 2rem;
  font-weight: 400;
  color: #010d77;
  margin-top: 90px;
}

/* ================================================================ */
.my_account_page {
  padding-bottom: 200px;
}
.my_account_page .section_header {
  margin-bottom: 45px;
}
.my_account_page .my_account_page_cotnent h5 {
  font-weight: bold;
  color: #010d77;
  font-size: 1.2rem;
}
.my_account_page label {
  display: block;
  width: 100%;
}

.my_account_option {
  background-color: #F1F2FF;
  padding: 18px;
}
.my_account_option li {
  margin-bottom: 5px;
}
.my_account_option li a {
  width: 100%;
  padding: 8px 10px;
  display: inline-block;
  color: #010D77;
  font-weight: 350;
}
.my_account_option li.active a {
  background-color: #3881EF;
  color: #fff;
}
.my_account_option li:hover a {
  background-color: #3881EF;
  color: #fff;
}

/* ================================================================ */
/* ================================================================ */
/* Shared styles  */
.product_card h5 {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}/*# sourceMappingURL=style.css.map */